.App {
  text-align: center;
  
  .carousel{
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
  .carousel_btn{
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5rem;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 1;
    /* transition: background-color 0.5s; */
  }
  .carousel_btn:hover{
    background-color: rgba(0, 0, 0, 0.8);
  }
  .carousel_btn--prev{
    left: 0
  }
  .carousel_btn--next{
    right: 0
  }
  .carousel_img{
    width: 100%;
    height: auto;
    display: block;
    /* transition: transform 0.3s ease-in-out; */
  }
  .carousel_img:hover{
    cursor: pointer;
    /* transform: scale(1.05); */
  }
  .carousel_indicators{
    margin: 10px 0px;
    display: flex;
    justify-content: center;
  }
  .carousel_indicator{
    height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid gray;
  }
  .carousel_indicator.active {
    background-color: black; /* Color when active */
  }
}

